<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display</title>
</head>
<body>
    <h1>Present Day, heh... Present Time! Hahahahahahaha: {{time}}</h1>
</body>
</html>